.modal-wrapper {
    background: #342e2ebf;
    width: 10vw;
    position: relative;
    height: fit-content;
    top: -25rem;
    left: 0rem;
    z-index: 8888;
}

.modal {
    padding: 1rem 2rem;
    background-color: white;
    width: 20rem;
    position: relative;
    margin: auto;
    top: 20rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.coupon-option {
    border: 1px solid grey;
    padding: 0.5rem 4rem 0.5rem 1rem;
    margin: 1rem 0
}

.coupon-option .select-input {
    cursor: pointer;
}

.coupon-apply-btn {
    font-family: inherit;
    width: 100%;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: #007bb5;
    color: white;
    padding: 0.5rem;
    border: none;
}

.apply-btn:hover {
    opacity: 0.8;
}

.display {
    display: flex;
}

.display-none {
    display: none;
}

.fa-times {
    font-size: 1.2rem;
    cursor: pointer;
}